#UiLoader {
  height: 100%;
}
#Main {
  height: 100%;
  text-align: left;
  overflow: hidden;
}
#LeftColumn {
  min-width: 12rem;
  width: 33vw;
  max-width: 26.5rem;
  height: 100%;
  position: relative;
}
#MiddleColumn {
  border-left: 1px solid var(--color-borders);
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 1;
  min-width: 0;
}

#LeftColumn > div {
  height: 100%;
  overflow: hidden;
}
#LeftColumn-main {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
}
#LeftColumn-main > .Transition {
  flex: 1;
  overflow: hidden;
}
.Transition {
  position: relative;
}
.Transition > * {
  width: 100%;
  height: 100%;
  animation-fill-mode: forwards !important;
  transition: background-color 0.2s;
  position: relative;
}
.Button {
  outline: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.5rem;
  border: 0;
  border-radius: var(--border-radius-default);
  background-color: transparent;
  background-size: cover;
  padding: 0.625rem;
  color: #fff;
  line-height: 1.2;
  cursor: pointer;
  text-transform: uppercase;
  flex-shrink: 0;
  position: relative;
  // overflow: hidden;
  transition: background-color 0.15s, color 0.15s;
  text-decoration: none !important;
}
.no-selection {
  user-select: none;
  -webkit-user-select: none !important;
}
.Button.round {
  width: 3.5rem;
  border-radius: 50%;
}
.Button.translucent {
  background-color: transparent;
  color: var(--color-text-secondary);
  --ripple-color: var(--color-interactive-element-hover);
}
.Button.smaller {
  height: 2.75rem;
  padding: 0.3125rem;
}
.Button.smaller.round {
  width: 2.75rem;
}
.left-header {
  height: var(--header-height);
  padding: 0.375rem 1rem 0.5rem 0.8125rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--color-background);
}
#LeftMainHeader {
  position: relative;
}
.left-header .Button.smaller {
  width: 2.5rem;
  height: 2.5rem;
}
#LeftMainHeader .animated-menu-icon {
  position: absolute;
  user-select: none;
}
#LeftMainHeader .animated-menu-icon,
#LeftMainHeader .animated-menu-icon::before,
#LeftMainHeader .animated-menu-icon::after {
  width: 1.125rem;
  height: 0.125rem;
  border-radius: 0.125rem;
  background-color: var(--color-text-secondary);
  transition: transform 0.25s;
  transform: rotate(0);
}
#LeftMainHeader .animated-menu-icon::before,
#LeftMainHeader .animated-menu-icon::after {
  position: absolute;
  left: 0;
  content: "";
}
#LeftMainHeader .animated-menu-icon::before {
  top: -0.3125rem;
}
#LeftMainHeader .animated-menu-icon::after {
  top: 0.3125rem;
}
.SearchInput {
  position: relative;
  width: 100%;
  color: rgba(var(--color-text-secondary-rgb), 0.5);
  background-color: var(--color-chat-hover);
  border: 2px solid var(--color-chat-hover);
  border-radius: 1.375rem;
  transition: border-color 0.15s ease;
}
.left-header .SearchInput {
  margin-left: 0.875rem;
  max-width: calc(100% - 3.25rem);
}

.SearchInput input {
  height: 2.5rem;
  margin-bottom: 0;
  border: none !important;
  border-radius: 1.375rem;
  background-color: transparent !important;
  box-shadow: none !important;
  padding: calc(0.4375rem - var(--border-width))
    calc(2.625rem - var(--border-width)) calc(0.5rem - var(--border-width))
    calc(2.75rem - var(--border-width));
}
.SearchInput > i {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  font-size: 1rem;
  pointer-events: none;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.form-control {
  --border-width: 1px;
  display: block;
  width: 100%;
  height: 3.375rem;
  padding: calc(0.75rem - var(--border-width))
    calc(0.9rem - var(--border-width));
  border: var(--border-width) solid var(--color-borders-input);
  border-radius: var(--border-radius-default);
  color: var(--color-text);
  background-color: var(--color-background);
  outline: none;
  transition: border-color 0.15s ease;
  word-break: break-word;
  -webkit-appearance: none;
  font-size: 1rem;
  line-height: 1.25rem;
}
.SearchInput.has-focus {
  border-color: var(--color-primary);
  caret-color: var(--color-primary);
  background-color: var(--color-background);
}
.SearchInput.has-focus input + i {
  color: var(--color-primary);
}
.form-control:focus {
  border-color: var(--color-primary);
  box-shadow: inset 0 0 0 1px var(--color-primary);
  caret-color: var(--color-primary);
}
#LeftMainHeader .animated-menu-icon.state-back {
  transform: rotate(180deg);
}
#LeftMainHeader .animated-menu-icon.state-back::before {
  transform: rotate(45deg) scaleX(0.75) translate(0.375rem, -0.1875rem);
}
#LeftMainHeader .animated-menu-icon.state-back::after {
  transform: rotate(-45deg) scaleX(0.75) translate(0.375rem, 0.1875rem);
}
.Button.translucent:hover,
.chat-item:hover {
  background-color: var(--color-interactive-element-hover);
  cursor: pointer;
}
.chat-list {
  background: var(--color-background);
  height: 100%;
  padding: 0.5rem 0.125rem 0.5rem 0.4375rem;
  overflow-y: auto;
}
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(90, 90, 90, 0) transparent;
  transition: scrollbar-color 0.3s ease;
  -webkit-overflow-scrolling: touch;
  pointer-events: auto;
}
.chat-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5625rem;
  width: 100%;
  border-radius: var(--border-radius-default);
  background-color: var(--color-background);
}
.chat-item.selected {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.chat-item.selected .chat-subtitle .last-message,
.chat-item.selected .chat-time {
  color: var(--color-white);
}
.chat-status {
  flex-shrink: 0;
  padding-right: 0.5rem;
}
.chat-info {
  flex: 1;
}
.chat-img {
  width: 3.375rem;
  height: 3.375rem;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.chat-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-heading {
  font-weight: 500;
  line-height: 1.6875rem;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: initial;
  width: auto;
  max-width: 80%;
}
.LastMesageMeta {
  display: flex;
  align-items: center;
}
.chat-time {
  font-size: 0.75rem;
  color: var(--color-text-meta);
  line-height: 1.125rem;
}
.MessageOutgoingStatus {
  color: var(--color-text-meta-colored2);
  margin-right: 0.125rem;
  font-size: 1.125rem;
}
.MessageOutgoingStatus i {
  background: var(--background-color);
  font-size: 0.75rem;
}
.chat-subtitle {
  margin-top: -0.125rem;
}
.chat-subtitle .last-message {
  padding-right: 0.25rem;
  flex-grow: 1;
  color: var(--color-text-secondary);
  unicode-bidi: plaintext;
  text-align: left;
  font-size: 1rem;
  line-height: 1.6875rem;
}
.NewChatButton {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  transform: translateY(5rem);
  transition: transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.custom-scroll::-webkit-scrollbar-thumb,
.custom-scroll-x::-webkit-scrollbar-thumb {
  background-color: rgba(90, 90, 90, 0);
  border-radius: 0.375rem;
  box-shadow: 0 0 1px rgb(255 255 255 / 1%);
}
body:not(.is-ios) .custom-scroll::-webkit-scrollbar {
  width: 0.375rem;
}
.custom-scroll:hover::-webkit-scrollbar-thumb,
.custom-scroll:focus::-webkit-scrollbar-thumb,
.custom-scroll:focus-within::-webkit-scrollbar-thumb,
.custom-scroll-x:hover::-webkit-scrollbar-thumb,
.custom-scroll-x:focus::-webkit-scrollbar-thumb,
.custom-scroll-x:focus-within::-webkit-scrollbar-thumb {
  background-color: rgba(90, 90, 90, 0.3);
}
.FloatingActionButton {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(calc(5rem - var(--group-call-header-height, 0rem)));
  transition: transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.Button.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  --ripple-color: rgba(0, 0, 0, 0.08);
}
.FloatingActionButton.revealed {
  transform: translateY(calc(0rem - var(--group-call-header-height, 0rem)));
}
.Button.round i {
  font-size: 1rem;
}
.NewChatButton.revealed {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.DropdownMenu {
  position: relative;
}

.opacity-transition {
  opacity: 1;
  transition: opacity 0.15s ease;
}

.Menu .bubble {
  overflow: hidden;
  display: block;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  position: absolute;
  background-color: var(--color-background);
  box-shadow: 0 0.25rem 0.5rem 0.125rem var(--color-default-shadow);
  border-radius: var(--border-radius-default);
  min-width: 13.5rem;
  z-index: var(--z-menu-bubble);
  overscroll-behavior: contain;
  transform: scale(0.5);
  transition: opacity 0.2s cubic-bezier(0.2, 0, 0.2, 1),
    transform 0.2s cubic-bezier(0.2, 0, 0.2, 1) !important;
  --offset-y: calc(100% + 0.5rem);
  --offset-x: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}

.Menu .bubble.open {
  transform: scale(1);
  z-index: 10;
}

.Menu .bubble.top {
  top: var(--offset-y);
}

.Menu .bubble.left {
  left: var(--offset-x);
}

.Menu .bubble.with-footer {
  padding-bottom: 0;
}

.Menu.compact .bubble {
  background: var(--color-background-compact-menu);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 0.25rem 0;
  height: auto;
}
.Menu .bubble.open {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
#LeftMainHeader .Menu .bubble {
  min-width: 17rem;
  max-height: calc(100 * var(--vh) - 3.75rem);
  overflow-y: auto;
}
#LeftMainHeader .Menu .bubble {
  overflow-y: overlay;
  overflow-x: hidden;
}
.MenuItem {
  width: 100%;
  background: none;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  display: flex;
  padding: 0.75rem 1rem;
  position: relative;
  overflow: hidden;
  line-height: 1.5rem;
  white-space: nowrap;
  color: var(--color-text);
  --ripple-color: rgba(0, 0, 0, 0.08);
  cursor: pointer;
  unicode-bidi: plaintext;
}
.MenuItem.compact {
  align-items: center;
  font-size: 0.875rem;
  margin: 0.125rem 0.25rem;
  padding: 0.25rem;
  border-radius: 0.375rem;
  width: auto;
  font-weight: 500;
  transform: scale(1);
  transition: 0.15s ease-in-out transform;
}
.MenuItem.destructive,
.MenuItem.destructive i {
  color: var(--color-error);
}
.MenuItem i {
  font-size: 1.5rem;
  margin-right: 2rem;
  color: var(--color-icon-secondary);
}
.MenuItem.compact i {
  max-width: 1.25rem;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 1.25rem;
  opacity: 0.6;
}
.Menu .footer {
  padding: 0.5rem 0;
  background: var(--color-chat-hover);
  color: var(--color-text-secondary);
  font-size: 0.8125rem;
  text-align: center;
}
.Menu.compact .footer {
  background: none;
}
.Switcher.no-animation {
  margin: 0;
  margin-left: auto;
  display: inline-flex;
  position: relative;
  transform: scale(0.75);
}
#darkmode {
  display: none;
}
.Switcher .widget {
  cursor: pointer;
  text-indent: -999px;
  width: 2.125rem;
  height: 0.875rem;
  background-color: var(--color-gray);
  display: inline-block;
  border-radius: 0.5rem;
  position: relative;
  transition: background-color 0.2s ease-in;
}
.Switcher .widget:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  background-color: var(--color-background);
  border-radius: 0.75rem;
  transition: border-color 0.2s ease-out;
  border: 0.125rem solid var(--color-gray);
}
.Switcher input:checked + .widget {
  background: var(--color-primary);
}
.Switcher input:checked + .widget:after {
  left: calc(100% - 1.125rem);
  transform: translateX(calc(-100% + 1.125rem));
  border-color: var(--color-primary);
}
.opacity-transition:not(.open) {
  opacity: 0;
}
.opacity-transition:not(.shown) {
  display: none;
}
.Transition___slide {
  display: none;
}
.Transition___slide.active {
  display: block;
}

.Tab {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  width: auto;
  margin: 0;
  border: none;
  padding: 0.625rem 0.25rem;
  font-weight: 500;
  color: var(--color-text-secondary);
  cursor: pointer;
  border-top-left-radius: var(--border-radius-messages-small);
  border-top-right-radius: var(--border-radius-messages-small);
  font-size: 0.875rem;
  text-align: center;
  position: relative;
}
.Tab,
.Tab:active,
.Tab:focus {
  outline: none;
}
.TabList .slick-current .Tab,
.RightColumn__TabList .slick-current .Tab{
  cursor: default;
  color: var(--color-primary);
}
.TabList,
.RightColumn__TabList {
  position: sticky;
  top: 0;
  flex-shrink: 0;
  font-size: 0.875rem;
  flex-wrap: nowrap;
  box-shadow: 0 2px 2px var(--color-light-shadow);
  background-color: var(--color-background);
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  scrollbar-color: rgba(0, 0, 0, 0);
  z-index: 100;
}
.TabList .slick-current .Tab span,
.RightColumn__TabList .slick-current .Tab span{
  position: relative;
}
.TabList .slick-current .Tab span::before,
.RightColumn__TabList .slick-current .Tab span::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.1875rem;
  background-color: var(--color-primary);
  bottom: -0.6875rem;
}
.recent-top__item {
  display: inline-block;
  width: 4.5rem;
  height: 6rem;
  padding: 0.625rem 0.25rem;
  margin-left: 0.5rem;
  border-radius: var(--border-radius-default);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.recent-top__item:first-child {
  margin-left: 0.125rem;
}
.recent-top__img {
  margin: 0 auto 0.375rem;
  --color-user: var(--color-primary);
  flex: none;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 50%;
  background: linear-gradient(var(--color-white) -125%, var(--color-user));
  color: #fff;
  font-weight: bold;
  display: flex;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
}
.recent-top__name {
  text-align: center;
  white-space: nowrap;
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recent-top {
  height: 6rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  scrollbar-color: rgba(0, 0, 0, 0);
  margin-bottom: 0.5rem;
}
.recent-second__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 -1px 0 0 var(--color-borders);
  color: var(--color-text-secondary);
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 1.25rem 0 1rem 1.25rem;
}
.recent-second__close {
  font-size: 1.25rem;
  padding-right: 1rem;
}
.sub-dropdown-chat {
  transform-origin: right bottom;
  background: var(--color-background-compact-menu);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 0.25rem 0;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 70px;
  box-shadow: 0 0.25rem 0.5rem 0.125rem var(--color-default-shadow);
  border-radius: var(--border-radius-default);
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: opacity 0.2s cubic-bezier(0.2, 0, 0.2, 1),
    transform 0.2s cubic-bezier(0.2, 0, 0.2, 1);
}
.sub-dropdown-chat.open {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.mask-image-disabled {
  --composer-hidden-scale: 0.810127;
  --toolbar-hidden-scale: 1.23438;
  --unpin-hidden-scale: 1.9845;
  --toolbar-unpin-hidden-scale: 0.503906;
  --composer-translate-x: 39.5px;
  --toolbar-translate-x: -25.9241px;
  --pattern-color: rgba(90, 110, 70, 0.6);
  --theme-background-color: #a2af8e;
}
#middle-column-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
  background-color: var(--theme-background-color);
}
#middle-column-bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--theme-background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/chat-bg.jpg");
  margin: -16rem -5rem -20rem 0;
  overflow: hidden;
  transform: scale(1);
  transform-origin: left center;
  transition: transform var(--layer-transition), background-image 0.2s;
}
#messages-layout {
  --slide-transition: 450ms cubic-bezier(0.25, 1, 0.5, 1);
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#messages-layout.shown {
  display: flex;
}
.MiddleHeader {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 2px 2px var(--color-light-shadow);
  background: var(--color-background);
  position: relative;
  z-index: 100;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: max(1.5rem, env(safe-area-inset-left));
  padding-right: max(0.8125rem, env(safe-area-inset-right));
  height: var(--header-height);
}
.header-chat-info {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.MiddleHeader .chat-heading-info {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
  white-space: pre;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  unicode-bidi: plaintext;
}
.sub-info-public {
  display: inline;
  unicode-bidi: plaintext;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin: 0;
  color: var(--color-text-secondary);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.img-4x {
  width: 2.5rem;
  height: 2.5rem;
}
.header-tools {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  flex-shrink: 0;
  transform: translate3d(0, 0, 0);
  transition: transform var(--layer-transition);
}

.hearder-tool-item i {
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--color-text-secondary);
  --ripple-color: var(--color-interactive-element-hover);
}
#MiddleColumn #messages-layout > .Transition {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#MiddleColumn #messages-layout > .Transition > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MessageList {
  flex: 1;
  width: 100%;
  margin-bottom: 0.5rem;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  transition: transform var(--layer-transition);
  transition: bottom 150ms ease-out, transform var(--layer-transition);
}
.MessageList .messages-container {
  width: 100%;
  max-width: var(--messages-container-width);
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1rem 1rem 0 1.125rem;
}
.sticky-date {
  position: sticky;
  top: 0.625rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  z-index: var(--z-sticky-date);
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s ease;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}
.MessageList .sticky-date > span {
  display: inline-block;
  background: var(--pattern-color);
  color: #fff;
  font-size: calc(var(--message-text-size, 1rem) - 0.0625rem);
  font-weight: 500;
  line-height: 1.75;
  padding: 0 0.5rem;
  border-radius: var(--border-radius-messages);
  word-break: break-word;
}
.Message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.375rem;
  position: relative;
  --background-color: var(--color-background);
  --hover-color: var(--color-reply-hover);
  --color-reaction: var(--color-message-reaction);
  --hover-color-reaction: var(--color-message-reaction-hover);
  --active-color: var(--color-reply-active);
  --max-width: 29rem;
  --accent-color: var(--color-primary);
  --accent-shade-color: var(--color-primary-shade);
  --secondary-color: var(--color-text-secondary);
  --meta-safe-area-base: 2.25rem;
  --meta-safe-author-width: 0px;
  --meta-safe-area-extra-width: 0px;
  --meta-safe-area-size: calc(
    var(--meta-safe-area-base) + var(--meta-safe-author-width) +
      var(--meta-safe-area-extra-width)
  );
  --deleting-translate-x: -50%;
  --select-message-scale: 0.9;
  --border-top-left-radius: var(--border-radius-messages);
  --border-top-right-radius: var(--border-radius-messages);
  --border-bottom-left-radius: var(--border-radius-messages);
  --border-bottom-right-radius: var(--border-radius-messages);
}
.Message.last-in-group {
  margin-bottom: 0.625rem;
}
.Message:not(.own) {
  padding-left: 2.5rem;
}
.MessageList .Message,
.MessageList .ActionMessage {
  position: relative;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.Message:not(.own),
.Message:not(.own).is-thread-top {
  padding-left: 0;
}
.Message:not(.own).last-in-group {
  --border-bottom-left-radius: var(--border-radius-messages-small);
}
.MessageList .Message.open.shown,
.MessageList .ActionMessage.open.shown {
  transform: none;
}
.MessageList .Message::before,
.MessageList .ActionMessage::before {
  content: "";
  position: absolute;
  top: -0.1875rem;
  bottom: -0.1875rem;
  left: -50vw;
  right: -50vw;
  background: #000;
  z-index: -1;
  opacity: 0;
  transition: opacity var(--select-transition);
}
.Message > .message-content-wrapper {
  opacity: 1;
  transform: scale(1) translateX(0);
  transition: transform var(--select-transition);
}
.message-content {
  position: relative;
  max-width: var(--max-width);
  border-top-left-radius: var(--border-top-left-radius);
  border-top-right-radius: var(--border-top-right-radius);
  border-bottom-left-radius: var(--border-bottom-left-radius);
  border-bottom-right-radius: var(--border-bottom-right-radius);
}
.message-content:not(.custom-shape) {
  font-size: var(--message-text-size, 1rem);
}
.message-content.has-shadow {
  box-shadow: 0 1px 2px var(--color-default-shadow);
}
.message-content.has-solid-background,
.message-content.has-background,
.is-album .message-content {
  background: var(--background-color);
}
.message-content.has-solid-background {
  padding: 0.3125rem 0.5rem 0.375rem;
}
.Message:not(.own).last-in-group .message-content.has-appendix {
  --border-bottom-left-radius: 0;
}
.message-content:not(.custom-shape) > .content-inner {
  min-width: 0;
}
.message-content .text-content {
  margin: 0;
  word-break: break-word;
  line-height: 1.3125;
  text-align: initial;
  display: flow-root;
  unicode-bidi: plaintext;
}
.MessageMeta {
  position: absolute;
  height: 1.25rem;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: rgba(153, 153, 153, 0.6);
  border-radius: 0.625rem;
  padding: 0 0.25rem;
  color: #fff;
  cursor: pointer;
  max-width: 100%;
  -webkit-user-select: none;
  user-select: none;
}
.has-solid-background .MessageMeta {
  color: rgba(var(--color-text-meta-rgb), 0.75);
  background: none;
}
.message-content:not(.custom-shape) .text-content > .MessageMeta,
.message-content.document > .MessageMeta {
  position: relative;
  top: 0.375rem;
  bottom: auto !important;
  float: right;
  line-height: 1.35;
  height: calc(var(--message-meta-height, 1rem));
  margin-left: 0.4375rem;
  margin-right: -0.5rem;
}
.MessageMeta .message-time,
.MessageMeta .message-signature,
.MessageMeta .message-views {
  font-size: 0.75rem;
  white-space: nowrap;
}
.MessageMeta .message-time {
  margin-right: 0.1875rem;
}
.message-content .svg-appendix {
  overflow: hidden;
  position: absolute;
  bottom: -0.0625rem;
  width: 0.5625rem;
  height: 1.125rem;
  font-size: 1rem !important;
}
.Message:not(.own) .message-content .svg-appendix {
  left: -0.562rem;
}
svg:not(:root) {
  overflow: hidden;
}
.Message.own {
  flex-direction: row-reverse;
  --background-color: var(--color-background-own);
  --hover-color: var(--color-reply-own-hover);
  --color-reaction: var(--color-message-reaction-own);
  --hover-color-reaction: var(--color-message-reaction-hover-own);
  --active-color: var(--color-reply-own-active);
  --max-width: 30rem;
  --accent-color: var(--color-accent-own);
  --accent-shade-color: var(--color-green);
  --secondary-color: var(--color-accent-own);
  --color-code: var(--color-code-own);
  --color-code-bg: var(--color-code-own-bg);
  --color-links: var(--color-own-links);
  --meta-safe-area-base: 3.5rem;
  --deleting-translate-x: 50%;
  --color-text-green: var(--color-accent-own);
}
.Message.own.last-in-group .message-content.has-appendix {
  --border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
.Message.own .message-content .svg-appendix {
  right: -0.551rem;
}
.Message.own .has-solid-background .MessageMeta {
  color: var(--color-message-meta-own);
}
.MessageOutgoingStatus {
  width: 1.1875rem;
  height: 1.1875rem;
  overflow: hidden;
  display: inline-block;
  line-height: 1;
  font-size: 1.1875rem;
  margin-left: 0.125rem;
}
.mask-image-disabled.theme-dark {
  --pattern-color: #0a0a0a8c;
  --theme-background-color: #0f0f0f;
}
.theme-dark #middle-column-bg::after {
  background-image: url("../images/chat-bg-dark.png");
  background-position: top left;
  background-size: 650px;
  background-repeat: repeat;
}
.message-content .svg-appendix .corner {
  fill: var(--background-color);
}
#message-input-text,
#caption-input-text {
  position: relative;
}
#message-input-text {
  flex-grow: 1;
}
.Composer .form-control {
  --border-width: 0;
}
#message-input-text .form-control,
#caption-input-text .form-control {
  padding: calc(
      (3.25rem - var(--composer-text-size, 1rem) * 1.375) / 2 -
        var(--border-width, 0) * 2
    )
    calc(0.9rem - var(--border-width));
  overflow: hidden;
  line-height: 1.375;
  font-family: Roboto, -apple-system, "Apple Color Emoji", "Helvetica Neue",
    sans-serif;
  unicode-bidi: plaintext;
  text-align: initial;
  font-size: var(--composer-text-size, 1rem);
}
#message-input-text .form-control {
  margin-bottom: 0;
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  caret-color: var(--color-text);
  min-height: 3.5rem;
  height: auto;
  max-height: 26rem;
  line-height: 1.3125;
  padding: calc((3.5rem - var(--composer-text-size, 1rem) * 1.3125) / 2) 0;
  white-space: pre-wrap;
  transition: height 100ms ease;
}
#message-input-text:not(:only-child) .form-control {
  padding-left: 0;
  padding-right: 0;
}
#message-input-text .forced-placeholder,
#message-input-text .placeholder-text,
#caption-input-text .forced-placeholder,
#caption-input-text .placeholder-text {
  position: absolute;
  color: var(--color-placeholders);
  pointer-events: none;
  unicode-bidi: plaintext;
  text-align: initial;
  line-height: 1.3125;
  font-size: var(--composer-text-size, 1rem);
  top: calc((3.25rem - var(--composer-text-size, 1rem) * 1.375) / 2);
  bottom: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
#message-input-text .forced-placeholder,
#message-input-text .placeholder-text {
  top: calc((3.5rem - var(--composer-text-size, 1rem) * 1.3125) / 2);
}
#message-input-text .clone,
#caption-input-text .clone {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -10;
  unicode-bidi: plaintext;
  text-align: initial;
}
.AttachMenu {
  align-self: flex-end;
}

.AttachMenu--menu {
  position: relative;
  top: -3.5rem;
}

.Button.secondary {
  background-color: var(--color-background);
  color: rgba(var(--color-text-secondary-rgb), 0.75);
  --ripple-color: rgba(0, 0, 0, 0.08);
}
.Composer > .Button {
  flex-shrink: 0;
  margin-left: 0.5rem;
}
.Composer > .Button:not(.danger) {
  color: var(--color-composer-button);
}
#MiddleColumn .Composer > .Button {
  opacity: 1;
  transform: scale(1);
  transition: opacity var(--select-transition),
    transform var(--select-transition), background-color 0.15s, color 0.15s;
}
.Composer > .Button .icon-send,
.Composer > .Button .icon-schedule,
.Composer > .Button .icon-microphone-alt,
.Composer > .Button .icon-check {
  position: absolute;
}
.Composer > .Button.record .icon-send,
.Composer > .Button.record .icon-check,
.Composer > .Button.record .icon-schedule {
  animation: hide-icon 0.4s forwards ease-out;
}
.Composer > .Button:not(:active):not(:focus):not(:hover) .icon-send,
.Composer > .Button:not(:active):not(:focus):not(:hover) .icon-schedule,
.Composer > .Button:not(:active):not(:focus):not(:hover) .icon-check {
  color: var(--color-primary);
}
.Composer > .Button.record .icon-microphone-alt {
  animation: grow-icon 0.4s ease-out;
}
#attach-menu-list {
  transform-origin: right bottom;
  right: 0;
  bottom: 0;
  margin-bottom: 0.25rem;
  overflow: inherit;
}
#attach-menu-list::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.4rem;
  height: 0.5rem;
  background: transparent;
}
.icon-send {
  display: none;
}
#RightColumn-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-right-column);
  overflow: hidden;
  visibility: hidden;
  transition: 0.4s;
  pointer-events: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#Main.right-column-open #RightColumn-wrapper {
  visibility: visible;
}
#RightColumn {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--right-column-width);
  height: 100%;
  padding-right: env(safe-area-inset-right);
  transform: translate3d(var(--right-column-width), 0, 0);
  background: var(--color-background);
  border-left: 1px solid var(--color-borders);
  z-index: 10;
  transition: transform var(--layer-transition);
  pointer-events: auto;
}
#Main.right-column-open #RightColumn {
  pointer-events: auto;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}
.RightHeader {
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 0.5rem 0.8125rem;
  pointer-events: auto;
}
.animated-close-icon {
  color: var(--color-text-secondary);
  font-size: 1.25rem !important;
}
.RightHeader > .Transition {
  flex: 1;
  height: 100%;
}
.RightHeader > .Transition > div {
  display: flex;
  align-items: center;
}
.RightHeader .SearchInput {
  margin-left: 1rem;
}
#RightColumn > .Transition {
  height: calc(100% - var(--header-height));
  overflow: hidden;
}
.RightSearch {
  height: 100%;
  padding: 0 0.5rem;
  overflow-y: auto;
}
.RightSearch .helper-text {
  padding: 1rem;
  margin-bottom: 0.125rem;
  font-weight: 500;
  color: var(--color-text-secondary);
  unicode-bidi: plaintext;
  text-align: initial;
}
.RightHeader h3 {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 1.375rem;
}
.RightColumn__Search,
.RightColumn__Profile,
.RightColumn__Edit {
  display: none;
  height: calc(100% - var(--header-height));
  overflow: hidden;
}
#Main.right-column-open #RightColumn .shown {
  display: block;
}
.RightColumn__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  padding: 0 1.5rem 0.5rem;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: none;
}
.RightColumn__title {
  font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.375rem;
    white-space: pre-wrap;
    word-break: break-word;
    margin-bottom: 0.25rem;
}
.RightColumn__status {
  font-size: .875rem;
  opacity: .5;
}
#RightColumn .RightColumn__Profile .Transition,
#RightColumn .RightColumn__Edit .Transition {
  height: calc(100% - var(--header-height));
  overflow: hidden;
}
.RightProfile {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  overflow-x: hidden;
}
.RightColumn__ChatExtra {
  padding: 0.875rem 0.5rem 0.5rem;
  box-shadow: inset 0 -0.0625rem 0 0 var(--color-background-secondary-accent);
  border-bottom: 0.625rem solid var(--color-background-secondary);
}
.RightColumn__ChatExtra .ListItem {
  position: relative;
}
.RightColumn__ChatExtra .ListItem.narrow {
  margin-bottom: 0.75rem;
}
.RightColumn__ChatExtra .narrow {
  margin-bottom: 0;
}
.RightColumn__ChatExtra .ListItem .ListItem-button {
  width: 100%;
  background-color: var(--background-color);
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  display: flex;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  line-height: 1.5rem;
  white-space: nowrap;
  color: var(--color-text);
  border-radius: var(--border-radius-default);
  --ripple-color: rgba(0, 0, 0, 0.08);
}
.RightColumn__ChatExtra .ListItem.narrow .ListItem-button {
  padding: 0.5rem 1rem;
}
.RightColumn__ChatExtra .ListItem:not(.disabled):not(.is-static) .ListItem-button {
  cursor: pointer;
}
.RightColumn__ChatExtra .ListItem .ListItem-button>i {
  font-size: 1.5rem;
  margin-right: 2rem;
  color: var(--color-text-secondary);
}
.RightColumn__ChatExtra .ListItem.multiline .ListItem-button>i {
  position: relative;
  top: 0.25rem;
}
.RightColumn__ChatExtra .ListItem .multiline-item {
  flex-grow: 1;
  white-space: initial;
  overflow: hidden;
}
.RightColumn__ChatExtra .ListItem .user-status, 
.RightColumn__ChatExtra .ListItem .group-status, 
.RightColumn__ChatExtra .ListItem .title, 
.RightColumn__ChatExtra .ListItem .subtitle {
  text-align: initial;
  unicode-bidi: plaintext;
}
.RightColumn__ChatExtra .ListItem .multiline-item .title, 
.RightColumn__ChatExtra .ListItem .multiline-item .subtitle {
  display: block;
  text-align: initial;
}
.RightColumn__ChatExtra .ListItem .multiline-item .title {
  line-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.RightColumn__ChatExtra .ListItem .multiline-item .subtitle {
  font-size: .875rem;
  line-height: 1.5rem;
  color: var(--color-text-secondary);
}
#group-notifications {
  display: none;
}
.RightColumn__ChatExtra .Switcher.inactive {
  margin-left: auto;
}
.RightColumn__ChatExtra .ListItem:not(.disabled):not(.is-static) .ListItem-button:hover, 
.RightColumn__ChatExtra .ListItem:not(.disabled):not(.is-static) .ListItem-button:focus {
  --background-color: var(--color-chat-hover);
}
.content.empty-list {
  height: 100%;
  padding-top: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.NothingFound {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-meta);
}
.Management {
  position: relative;
  height: 100%;
  background-color: var(--color-background-secondary);
}
.Management>.custom-scroll {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.Management .section {
  padding: 1rem 1.5rem;
  background-color: var(--color-background);
  box-shadow: inset 0 -0.0625rem 0 0 var(--color-background-secondary-accent);
  margin-bottom: 0.625rem;
}
.Management .section:first-of-type {
  padding-top: 1rem;
}
.Management .section>.ChatInfo {
  margin: 0 0 2rem !important;
}
.Management .section>.ChatInfo {
  padding: 0 1.5rem;
  margin: 1rem 0;
  text-align: center;
}
.Avatar {
  --color-user: var(--color-primary);
  flex: none;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 50%;
  background: linear-gradient(var(--color-white) -125%, var(--color-user));
  color: #fff;
  font-weight: bold;
  display: flex;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
}
div.color-bg-6 {
  --color-user: var(--color-user-6);
}
.Avatar.size-jumbo {
  width: 7.5rem;
  height: 7.5rem;
  font-size: 3.5rem;
}
.Management .section>.ChatInfo .Avatar {
  margin: 0 auto 0.5rem;
}
.Avatar__img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.opacity-transition.slow {
  transition-duration: .3s;
}
.Management .section>.ChatInfo .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Management .section>.ChatInfo .title h3 {
  margin-bottom: 0;
}
.Management .section>.ChatInfo .title h3 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
  white-space: pre-wrap;
  word-break: break-word;
}
.Management .section>.ChatInfo .status {
  font-size: .875rem;
  color: #868e96;
}
.input-group {
  position: relative;
  margin-bottom: 1.5rem;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.input-group label {
  display: block;
  padding: 0 0.25rem;
  position: absolute;
  left: 0.75rem;
  top: 0.9375rem;
  background-color: var(--color-background);
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-placeholders);
  transition: transform .15s ease-out,color .15s ease-out;
  cursor: text;
  pointer-events: none;
  transform-origin: left center;
  white-space: nowrap;
}
.input-group.touched label, .input-group.error label, .input-group.success label, .input-group .form-control:focus+label, .input-group .form-control.focus+label {
  transform: scale(0.75) translate(-0.5rem, -2.25rem);
}
.input-group.touched label {
  color: var(--color-text-secondary);
}
.form-control:hover {
  border-color: var(--color-primary);
}
.ListItem {
  position: relative;
}
.Management .section .ListItem {
  margin: 0 -0.75rem;
}
.Management .section .ListItem:last-child {
  margin-bottom: 0;
}
.Checkbox {
  display: block;
  position: relative;
  padding-left: 4.5rem;
  text-align: left;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  cursor: pointer;
}
.Management .section .ListItem.narrow .Checkbox {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.Checkbox input {
  position: absolute;
  z-index: var(--z-below);
  opacity: 0;
}
.Checkbox .Checkbox-main::before, .Checkbox .Checkbox-main::after {
  content: "";
  display: block;
  position: absolute;
  left: 1.1875rem;
  top: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
}
.Checkbox .Checkbox-main::before {
  border: 2px solid var(--color-borders-input);
  border-radius: 0.25rem;
  background-color: var(--color-background);
  transition: border-color .1s ease,background-color .1s ease;
}
.Checkbox input:checked~.Checkbox-main::before {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}
.Checkbox .Checkbox-main .label {
  display: block;
  text-align: initial;
}
.Checkbox .Checkbox-main .subLabel {
  display: block;
  font-size: .875rem;
  line-height: 1rem;
  color: var(--color-text-secondary);
}
.Checkbox .Checkbox-main::after {
  background: center no-repeat url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjkuOEw1LjggOC45IDIuMSA1LjJjLS40LS40LTEuMS0uNC0xLjYgMC0uNC40LS40IDEuMSAwIDEuNkw1IDExLjJjLjQuNCAxLjEuNCAxLjYgMGw4LjktOC45Yy40LS40LjQtMS4xIDAtMS42LS41LS40LTEuMi0uNC0xLjYuMXoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);
  background-size: 0.875rem;
  opacity: 0;
  transition: opacity .1s ease;
}
.Checkbox input:checked~.Checkbox-main::after {
  opacity: 1;
}
.ListItem .ListItem-button {
  width: 100%;
  background-color: var(--background-color);
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  display: flex;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  line-height: 1.5rem;
  white-space: nowrap;
  color: var(--color-text);
  border-radius: var(--border-radius-default);
  --ripple-color: rgba(0, 0, 0, 0.08);
}
.ListItem.destructive .ListItem-button {
  color: var(--color-error);
}
.ListItem:not(.disabled):not(.is-static) .ListItem-button {
  cursor: pointer;
}
.ListItem .ListItem-button>i {
  font-size: 1.5rem;
  margin-right: 2rem;
  color: var(--color-text-secondary);
}
.ListItem.destructive .ListItem-button i {
  color: inherit;
}
.ListItem:not(.disabled):not(.is-static) .ListItem-button:hover, .ListItem:not(.disabled):not(.is-static) .ListItem-button:focus {
  --background-color: var(--color-chat-hover);
}
.back-btn {
  display: none;
}