@media (min-width: 600px) {
  .Chat.selected .ListItem-button, .Chat.selected:hover .ListItem-button {
      --background-color: var(--color-chat-active) !important;
      --color-text: var(--color-white);
      --color-text-meta-colored: var(--color-white);
      --color-text-meta: var(--color-white);
      --color-text-secondary: var(--color-white);
      --color-error: var(--color-white);
      --color-pinned: var(--color-white);
  }
  .RightHeader .SearchInput {
      margin-right: 1rem;
  }
}
// tablet ~ 926px
@media (min-width: 57.875em) {
  #Main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100%;
  }
  #LeftColumn {
    max-width: 40vw;
  }
}

// pc ~ 1276px
@media (min-width: 79.75em) {
  #Main {
    position: relative;
  }
  #LeftColumn {
    width: 25vw;
    max-width: 33vw;
  }
  .MessageList {
      width: 100%;
      transform: translate3d(0, 0, 0);
      transition: transform var(--layer-transition);
  }
  .MessageList .messages-container,
  #MiddleColumn .middle-column-footer {
    width: calc(100% - var(--right-column-width));
  }
  #Main.right-column-open .MessageList,
  #Main.right-column-open .middle-column-footer {
    transform: translate3d(calc(var(--right-column-width) / -2), 0, 0);
  }
  #Main.right-column-open .header-tools {
    transform: translate3d(calc(var(--right-column-width) * -1), 0, 0);
  }
}

// pc tu 1276px den 1920px
@media (min-width: 79.75em) and (max-width: 120em) {
  :root {
    --right-column-width: 25vw;
  }
}
